<a href="https://colab.research.google.com/github/codeprakash309/PySparkCodeHub/blob/main/PySpark_transformations_2025_07_31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, rand, expr, when

In [2]:

# Create Spark session
spark = SparkSession.builder.appName("Sample50Records").getOrCreate()

In [3]:
# Create a DataFrame with 50 rows
df = (
    spark.range(0, 50)  # 50 records
    .withColumn("user_id", (col("id") + 1000).cast("int"))
    .withColumn("username", expr("concat('user_', id)"))
    .withColumn("age", (rand() * 30 + 20).cast("int"))  # Age between 20 and 50
    .withColumn("balance", (rand() * 100000).cast("double"))  # Random salary
    .withColumn("is_active", when((col("id") % 3) == 0, True).otherwise(False))
    .withColumn("signup_date", expr("current_date() - int(rand() * 180)"))  # Signup within 6 months
    .drop("id")
)

In [4]:
# Show schema and first few records
df.printSchema()
df.show(50, truncate=False)

root
 |-- user_id: integer (nullable = false)
 |-- username: string (nullable = false)
 |-- age: integer (nullable = true)
 |-- balance: double (nullable = false)
 |-- is_active: boolean (nullable = false)
 |-- signup_date: date (nullable = true)

+-------+--------+---+------------------+---------+-----------+
|user_id|username|age|balance           |is_active|signup_date|
+-------+--------+---+------------------+---------+-----------+
|1000   |user_0  |47 |91003.66015112009 |true     |2025-07-25 |
|1001   |user_1  |23 |44213.78620974649 |false    |2025-06-26 |
|1002   |user_2  |29 |77729.53566998956 |false    |2025-02-28 |
|1003   |user_3  |46 |86894.68632900532 |true     |2025-07-01 |
|1004   |user_4  |29 |81846.7346088069  |false    |2025-05-09 |
|1005   |user_5  |36 |3995.35008916293  |false    |2025-02-06 |
|1006   |user_6  |46 |37051.31249392974 |true     |2025-03-08 |
|1007   |user_7  |47 |77137.27854320833 |false    |2025-05-06 |
|1008   |user_8  |48 |40847.00404732502 |false    |2025-04-12 |
|1009   |user_9  |47 |48141.54507396665 |true     |2025-03-29 |
|1010   |user_10 |33 |96295.8099021403  |false    |2025-04-25 |
|1011   |user_11 |40 |14730.72442746649 |false    |2025-02-07 |
|1012   |user_12 |34 |66527.08959005556 |true     |2025-06-23 |
|1013   |user_13 |46 |81725.40584571994 |false    |2025-03-31 |
|1014   |user_14 |43 |3468.296687947636 |false    |2025-03-03 |
|1015   |user_15 |37 |6896.2601443522735|true     |2025-03-03 |
|1016   |user_16 |35 |17997.58183609733 |false    |2025-04-26 |
|1017   |user_17 |43 |27773.662771758056|false    |2025-06-26 |
|1018   |user_18 |22 |8892.381998371535 |true     |2025-05-20 |
|1019   |user_19 |31 |94636.00168232094 |false    |2025-02-25 |
|1020   |user_20 |42 |64726.665667965244|false    |2025-04-10 |
|1021   |user_21 |32 |88287.07769500864 |true     |2025-04-28 |
|1022   |user_22 |27 |70590.7464624839  |false    |2025-02-26 |
|1023   |user_23 |28 |75184.77334386425 |false    |2025-04-02 |
|1024   |user_24 |40 |28481.720311661207|true     |2025-03-02 |
|1025   |user_25 |43 |5174.847736535815 |false    |2025-03-27 |
|1026   |user_26 |44 |32305.823032248547|false    |2025-07-31 |
|1027   |user_27 |44 |93699.87913120167 |true     |2025-06-03 |
|1028   |user_28 |23 |18178.89722385686 |false    |2025-05-12 |
|1029   |user_29 |33 |58494.811307133445|false    |2025-07-29 |
|1030   |user_30 |37 |90057.22272489661 |true     |2025-04-09 |
|1031   |user_31 |21 |32072.021347516355|false    |2025-05-11 |
|1032   |user_32 |37 |47832.15268276856 |false    |2025-03-08 |
|1033   |user_33 |33 |37029.7336601188  |true     |2025-03-28 |
|1034   |user_34 |42 |42488.92526251848 |false    |2025-02-04 |
|1035   |user_35 |43 |40855.62729651017 |false    |2025-02-22 |
|1036   |user_36 |31 |25080.712072099   |true     |2025-02-13 |
|1037   |user_37 |45 |83185.2540575403  |false    |2025-04-19 |
|1038   |user_38 |32 |15204.16668200547 |false    |2025-04-08 |
|1039   |user_39 |28 |61826.69462037619 |true     |2025-04-18 |
|1040   |user_40 |28 |14537.981086998041|false    |2025-07-30 |
|1041   |user_41 |43 |12375.192181735505|false    |2025-07-22 |
|1042   |user_42 |36 |18822.782516749216|true     |2025-07-26 |
|1043   |user_43 |28 |78838.83963588807 |false    |2025-05-06 |
|1044   |user_44 |24 |18947.15935788788 |false    |2025-07-03 |
|1045   |user_45 |25 |19952.714586494723|true     |2025-07-23 |
|1046   |user_46 |27 |26706.98070326356 |false    |2025-06-08 |
|1047   |user_47 |47 |13742.756072841867|false    |2025-02-23 |
|1048   |user_48 |39 |58232.976125897505|true     |2025-07-14 |
|1049   |user_49 |27 |54903.41830659576 |false    |2025-07-05 |
+-------+--------+---+------------------+---------+-----------+

 Filter Rows

In [5]:
# Get only active users
df_active = df.filter(col("is_active") == True)

the below code will show you the active user only

In [6]:
df_active.show()

+-------+--------+---+------------------+---------+-----------+
|user_id|username|age|           balance|is_active|signup_date|
+-------+--------+---+------------------+---------+-----------+
|   1000|  user_0| 47| 91003.66015112009|     true| 2025-07-25|
|   1003|  user_3| 46| 86894.68632900532|     true| 2025-07-01|
|   1006|  user_6| 46| 37051.31249392974|     true| 2025-03-08|
|   1009|  user_9| 47| 48141.54507396665|     true| 2025-03-29|
|   1012| user_12| 34| 66527.08959005556|     true| 2025-06-23|
|   1015| user_15| 37|6896.2601443522735|     true| 2025-03-03|
|   1018| user_18| 22| 8892.381998371535|     true| 2025-05-20|
|   1021| user_21| 32| 88287.07769500864|     true| 2025-04-28|
|   1024| user_24| 40|28481.720311661207|     true| 2025-03-02|
|   1027| user_27| 44| 93699.87913120167|     true| 2025-06-03|
|   1030| user_30| 37| 90057.22272489661|     true| 2025-04-09|
|   1033| user_33| 33|  37029.7336601188|     true| 2025-03-28|
|   1036| user_36| 31|   25080.712072099|     true| 2025-02-13|
|   1039| user_39| 28| 61826.69462037619|     true| 2025-04-18|
|   1042| user_42| 36|18822.782516749216|     true| 2025-07-26|
|   1045| user_45| 25|19952.714586494723|     true| 2025-07-23|
|   1048| user_48| 39|58232.976125897505|     true| 2025-07-14|
+-------+--------+---+------------------+---------+-----------+

**Select Specific Columns from the data frame**

In [9]:
# Select only user_id and balance
df_selected = df.select("user_id", "balance")
#below line of code will show you the 10 record along with selected column only
df_selected.show(10,truncate=False)

+-------+-----------------+
|user_id|balance          |
+-------+-----------------+
|1000   |91003.66015112009|
|1001   |44213.78620974649|
|1002   |77729.53566998956|
|1003   |86894.68632900532|
|1004   |81846.7346088069 |
|1005   |3995.35008916293 |
|1006   |37051.31249392974|
|1007   |77137.27854320833|
|1008   |40847.00404732502|
|1009   |48141.54507396665|
+-------+-----------------+
only showing top 10 rows

**Add a New Column:**

In [10]:
# Add a new column: balance_category
df_with_category = df.withColumn(
    "balance_category",
    when(col("balance") < 30000, "Low")
    .when(col("balance") < 70000, "Medium")
    .otherwise("High")
)

In [11]:
df_with_category.show(10,truncate=False)

+-------+--------+---+-----------------+---------+-----------+----------------+
|user_id|username|age|balance          |is_active|signup_date|balance_category|
+-------+--------+---+-----------------+---------+-----------+----------------+
|1000   |user_0  |47 |91003.66015112009|true     |2025-07-25 |High            |
|1001   |user_1  |23 |44213.78620974649|false    |2025-06-26 |Medium          |
|1002   |user_2  |29 |77729.53566998956|false    |2025-02-28 |High            |
|1003   |user_3  |46 |86894.68632900532|true     |2025-07-01 |High            |
|1004   |user_4  |29 |81846.7346088069 |false    |2025-05-09 |High            |
|1005   |user_5  |36 |3995.35008916293 |false    |2025-02-06 |Low             |
|1006   |user_6  |46 |37051.31249392974|true     |2025-03-08 |Medium          |
|1007   |user_7  |47 |77137.27854320833|false    |2025-05-06 |High            |
|1008   |user_8  |48 |40847.00404732502|false    |2025-04-12 |Medium          |
|1009   |user_9  |47 |48141.54507396665|true     |2025-03-29 |Medium          |
+-------+--------+---+-----------------+---------+-----------+----------------+
only showing top 10 rows